# будут игнорироваться все файлы и каталоги Thumbs.db
# вне зависимости от того, где они находятся
Thumbs.db
#будет игнорироватся каталог tmp
#вне зависимости от того, в каком каталоге он находится
#/ в конце указывает, что это каталог
temp/
#будут игнорироваться файлы с расширением _old
#вне зависимости от того, в каком каталоге они находятся
*_old
#будут игнорироваться файлы с расширение _backup
#вне зависимости о того, в каком каталоге они находятся
*_backup
#будут игонорироваться все файлы и каталоги .DS_Store
#вне зависимости о того, где они находятся
.DS_Store
